.App {
	background: #a3e7fc;
	max-height: 100%;
	width: 100vw;

	& > * {
		height: 100vh;
		width: 100vw;
	}
}

.text-container {
	width: 70vw;
	margin: 2rem auto;
	height: auto;
	border: 1px solid black;
	background: white;
	text-align: justify;
	padding: 10px;
	letter-spacing: 2px;
	p {
		line-height: 2;
		font-size: 1.2rem;

		.wrong {
			// background-color: red;
			color: #c90a0a;
		}
		.correct {
			// background-color: green;
			color: #170ac9;
		}
	}
}
